fastapi
uvicorn[standard]
python-multipart
pydantic
pypdf
pymupdf
beautifulsoup4
pandas
nltk
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pymysql
psycopg2-binary
sqlalchemy
pymongo
pyarrow
spacy
boto3
presidio-analyzer
presidio-anonymizer
azure-storage-blob
google-cloud-storage
pytesseract
Pillow
fastavro
gliner
transformers
torch
slack_sdk
atlassian-python-api
sendgrid
chromadb
crewai
langchain-groq
sentence-transformers